fastapi
uvicorn
streamlit
pymupdf
faiss-cpu
sentence-transformers
numpy
pandas
python-dotenv
pydantic
sqlalchemy
psycopg2-binary
openai
tqdm
rank-bm25
scikit-learn
mlflow
qdrant-client
requests
plotly